<div class="ui bordered image" id="image">
</div>

<div id="main_message">
  <p>Mingle - networking has never been so easy</p>
</div>
<div class="ui container">
  <div class="ui bordered image" id="linkedin_logo">
    <a href="/users/auth/linkedin"><%= image_tag "linkedin.png", class: "ui centered image" %></a>
  </div>
</div>

<div id="steps_message">
  <p>How Mingle Works</p>
  <ul>
    <li>Enter the event code provided by event organiser in the app.
    </li>
    <li>Find a discussion group to join for the event.
    </li>
    <li>Physically join your group on the day of the event at the stated venue and time
    </li>
  </ul>
</div>
