<div class="ui bordered image" id="image">
</div>

<div id="main_message">
  <p>Mingle - networking has never been so easy</p>
</div>
<div class="ui container">
<div class="ui bordered image" id="linkedin_logo">
  <a href="/users/auth/linkedin"><%= image_tag "linkedin.png", class: "ui centered image" %></a>
</div>
</div>

<div id="use_mingle">
  <h1>How to start mingling</h1>
  <ul>
    <li>Click on the link provided by event organiser in the app.
    </li>
    <li>Sign up a Mingle.link account with a LinkedIn account and add your areas of interest to get recommendations on which group you can join to network during an event.</li>
    <li>Find a discussion group to join for the event.
    </li>
    <li>Physically join your group on the day of the event at the stated venue and time
    </li>
  </ul>
</div>

