
<!-- shows list of events except for those where show == false -->

	<p id="join_group">Join a group</p>

	<% @event.groups.each do |group| %>
<!-- add message if no active group, then ask if want to create one -->
		
		<% if (group.active != false) %>
		<div class="ui segment">
		<div><%= group.title %></div>
		<div><%= group.description %></div>
		<div class="ui container">
		<button class="ui mini button" id="remove_group_button"><%= link_to 'Remove Group', [group.event, group], 
				method: :delete,
				data: {confirm: 'Are you sure?'} %>
			</button>
		<button class="ui mini button" id="edit_group_button"><%= link_to 'Edit Group', edit_event_group_path(group.event, group) %></button>
	</div>
</div>
		<% end %>
		<% end %>







