<div class="ui text container">
  <h1 class="ui dividing header">Welcome to Mingle.Link</h1>

  <h3 class="first">The problem</h3>
  <p>Networking events are exciting opportunities to meet people of similar interests.
  However, networking time is usually brief, and it is difficult to find someone we would like to keep connections with. 
  And what if we forget to get the contact of that super interesting person we met at the event?!</p>
  <h3>The solution</h3>
  <p>
  Mingle.Link helps enhance your networking success and save time finding people with similar interests! 
  Just join or create a group in an event and people can join as they like and meet in a predefined area.
  </p>
</div>
