<div class="ui text container">
  <h1 class="ui dividing header">Homepage</h1>

  <h3 class="first">Homepage</h3>
  <p>This is the placeholder Homepage. We will talk about how awesome our app is here.</p>
</div>
