<div class="ui bordered image" id="image">
</div>

<div id="main_message">
  <p>Mingle - networking has never been so easy</p>
</div>
<div class="ui container">

  <div class="ui bordered image" id="linkedin_logo">
    <a href="/users/auth/linkedin"><%= image_tag "linkedin.png", class: "ui centered image" %></a>
  </div>
</div>

<div id="use_mingle">
  <h1>How to start mingling</h1>
  <div class="ui divider"></div>
  <ul>
    <li>Enter the link provided by event organiser.</li>
    <li>Sign up an account using your LinkedIn account.</li>
    <li>Add your areas of interest to get recommendations on which group you can join to network during an event.</li>
  </ul>

  <div class="ui divider"></div>
  <ul>
    <li>Add your areas of interest to get recommendations on which group you can join to network during an event.</li>
    <li>Add a group that you are interested.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Physically join your group on the day of the event at the stated venue and time.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Get the LinkedIn contacts of those you mingled with via our app and get linked up on LinkedIn to continue your connection.</li>
  </ul>
</div>

<div id="use_mingle2">
  <h1>Tips on networking from www.entrepreneur.com</h1>
  <!--Taken from https://www.entrepreneur.com/article/223468 -->
  <div class="ui divider"></div>
  <ul>
    <li>Resist the urge to arrive late. It's easier to find other people who don't have conversation partners yet.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Ask easy questions. Don't wait around the edges of the room, waiting for someone to approach you.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Ditch the sales pitch. Keep your exchange fun, light and informal.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Before the event, create a mental list of recent accomplishments, such as a new client you've landed or project you've completed. That way, you can easily pull an item off that list and into the conversation.</li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Share your passion. Win people over with your enthusiasm for your product or service. </li>
  </ul>
  <div class="ui divider"></div>
  <ul>
    <li>Smile. By smiling, you'll put your nervous self at ease, and you'll also come across as warm and inviting to others. </li>
  </ul>
</ul>
<div class="ui divider"></div>
