// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$teal-color: #1BB5AB; 
$font-stack: 'Lobster Two', cursive;
$brown-color: #3E260C;

#conference_image {
	background-image: url("conference2.jpg");
	background-size: cover;
	height: 15%;
	width: 100%;
}

#cards {
  padding-top: 20px; 
  	
  	h3 {
  	color: $teal-color;
  	}
}

a #header {
	color: $brown-color;
}
#header {
  	font-size: 17px;
  	font-weight: 800;

}

#add_event {
	background-color: $teal-color;
		h4 a {
			color: $brown-color;
		}
}

#join_group, #find_group {
	color: $brown-color;
}

body {
font-family: 'Muli', sans-serif;
}

#new_event_form {
	h3 {
	color: $teal-color;
	font-size: 22px;
	padding-top: 10px;
	}
}

#web_icon {
	background-image: url("link.jpg");
	background-size: cover;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	position: relative;
		p{
		position: absolute;
		margin-left: 30px;
		margin-top: 5px;
		text-decoration: underline;
		font-weight: 800;
		}


}