// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$teal-color: #1BB5AB; 
$font-stack: 'Lobster Two', cursive;
$brown-color: #3E260C;

#join_group {
	font: 100% $font-stack;
	color: $teal-color;
	text-align: center;
	font-size: 22px;
}

#group_title {
	font-weight: 800;
	}

#group_button1, #group_button2 {
	display: flex;
	justify-content: space-evenly;
}


#edit_group_header, #group_userlisting_title {
	font: 100% $font-stack;
	text-align: center;
	font-size: 22px;
	color: $teal-color;
}


#user_details {
	padding-top: 10px;
}

#user_image {
	height: 20%;
	width: 20%;
}

#linkedin_button {
	background-color: $teal-color;

	a {
		color: white;
		}

}