// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$teal-color: #1BB5AB; 
$font-stack: 'Lobster Two', cursive;
$brown-color: #3E260C;

#join_group {
	font: 100% $font-stack;
	text-align: center;
	font-size: 22px;
}

#remove_group_button {
	text-align: center;
	color: red;
}