$font-stack: 'Lobster Two', cursive;
$teal-color: #1BB5AB;


#logo {
	font: 100% $font-stack;
	font-size: 20px;
}


#menu {
	
	a {
	margin-right:10px;
	}
}

#sign_up_container{
	position: relative;
}

#image {
	background-image: url("group.jpg");
	background-size: cover;
	height: 40%;
	width: 100%;
	z-index: 4

}

#main_message {
	position: absolute;
	text-align: center;
	top: 243px;
	color: $teal-color;
	width: 100%;
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
	background-color: white;
	z-index: 4;
	opacity: 0.8;
}

#sign_up_banner {
	position: absolute;
	z-index: 4;

}

#linkedin_logo {
	position: absolute;
	top: 275px;
	left: 50px;
	z-index: 5;
	width: 70%;
}

#use_mingle {
	background-color: $teal-color;
	color: white;

	font-size: 15px;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px;

		h1 {
		font: 100% $font-stack;
		text-align: center;
		font-size: 28px;
		}

		li {
		padding: 10px;
		}
	
	
}

#use_mingle2 {
	color: $teal-color;
	font-size: 15px;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px;

		h1 {
			font: 100% $font-stack;
			text-align: center;
			font-size: 28px;
		}
	
}

.edit-user-page {
  width: 90%;
  margin: 0 auto;
}


#create_group_header {
	font: 100% $font-stack;
	font-size: 22px;
	text-align: center;
}